doctype html
html
  head
    title NodeJsChess
    script(src="/scripts/socket.js")
    script(src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous")
  body
    section
      h1.title Live game
    section
    input(type="text" id="input")
    button(onclick='sendMessage()' ) Send
    h2#value