doctype html
html
  head
    title NodeJsChess
    script(src='/scripts/init.js')
  body
    section
      h1.title NodeJsChess
      h2 Chess with Node.js + socket.io
    section 
    p Your UID is #{uid}
    button(onclick='startGame('+ uid +')' ) Start Game

     